---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "base"
;

// INTRO FOUT
.wf-loading #Intro {
visibility: hidden;
}
.wf-active #Intro {
visibility: visible;
}

.text-relief{
  text-shadow:2px 2px 4px $mint;
}


// TETRAHEDRON
#pyramid {
    position: relative;
    margin: 1em auto;
    height: (em(150));
    width: (em(100));
    -webkit-transform-style: preserve-3d;
    -webkit-animation: spin 12s ease infinite;
    -webkit-transform-origin: 58px 100px 58px;
    -moz-transform-style: preserve-3d;
    -moz-animation: spin 12s ease infinite;
    -moz-transform-origin: 58px 100px 58px;
    -ms-transform-style: preserve-3d;
    -ms-animation: spin 12s ease infinite;
    -ms-transform-origin: 58px 100px 58px;
    transform-style: preserve-3d;
    animation: spin 12s ease infinite;
    transform-origin: 58px 100px 58px;
}

//@-webkit-keyframes spin {
//  0% {
//    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
//  }
//  27% {
//    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
//  }
//  33% {
//    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
//  }
//  60% {
//    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
//  }
//  66% {
//    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
//  }
//  93% {
//    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
//  }
//  99% {
//    transform: rotateX(0deg) rotateY(420deg) rotateZ(-90deg);
//  }
//  100% {
//    transform: rotateX(0deg) rotateY(420deg) rotateZ(-90deg);
//  }
//}
//
//@-moz-keyframes spin {
//  0% {
//    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
//  }
//  27% {
//    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
//  }
//  33% {
//    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
//  }
//  60% {
//    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
//  }
//  66% {
//    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
//  }
//  93% {
//    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
//  }
//  99% {
//    transform: rotateX(0deg) rotateY(420deg) rotateZ(-90deg);
//  }
//  100% {
//    transform: rotateX(0deg) rotateY(420deg) rotateZ(-90deg);
//  }
//}
//
//@-ms-keyframes spin {
//  0% {
//    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
//  }
//  27% {
//    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
//  }
//  33% {
//    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
//  }
//  60% {
//    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
//  }
//  66% {
//    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
//  }
//  93% {
//    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
//  }
//  99% {
//    transform: rotateX(0deg) rotateY(420deg) rotateZ(-90deg);
//  }
//  100% {
//    transform: rotateX(0deg) rotateY(420deg) rotateZ(-90deg);
//  }
//}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
  }
  20% {
    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
  }
  25% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
  }
  45% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
  }
  70% {
    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
  }
  75% {
    transform: rotateX(90deg) rotateY(360deg) rotateZ(-90deg);
  }
  95% {
    transform: rotateX(90deg) rotateY(360deg) rotateZ(-90deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(420deg) rotateZ(-90deg);
  }
}

#pyramid > div {
    position: absolute;
    border-style: solid;
    border-width: 100px 0 100px 173px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
    -ms-transform-origin:     0 0;
    transform-origin:         0 0;
}

/* Put some text on each face */
#pyramid > div:after {
    position: absolute;
    //content: "Triangle";
    color: #fff;
    left: -250px;
    text-align: center;
}

#pyramid > div:first-child  {
    border-color: transparent transparent transparent $gold;
    -webkit-transform: rotateY(-19.5deg) rotateX(180deg) translateY(-200px);
    -moz-transform:    rotateY(-19.5deg) rotateX(180deg) translateY(-200px);
    -ms-transform:     rotateY(-19.5deg) rotateX(180deg) translateY(-200px);
    transform:         rotateY(-19.5deg) rotateX(180deg) translateY(-200px);
}

#pyramid > div:nth-child(2) {
    border-color: transparent transparent transparent $dark;
    -webkit-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-200px);
    -moz-transform:    rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-200px);
    -ms-transform:     rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-200px);
    transform:         rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-200px);
}

#pyramid > div:nth-child(3) {
    border-color: transparent transparent transparent $mint;
    -webkit-transform: rotateX(60deg) rotateY(19.5deg);
    -moz-transform:    rotateX(60deg) rotateY(19.5deg);
    -ms-transform:     rotateX(60deg) rotateY(19.5deg);
    transform:         rotateX(60deg) rotateY(19.5deg);
}

#pyramid > div:nth-child(4) {
    border-color: transparent transparent transparent $blue;
    -webkit-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-58px) translateY(-100px) translateZ(163px);
    -moz-transform:    rotateX(-60deg) rotateY(19.5deg) translateX(-58px) translateY(-100px) translateZ(163px);
    -ms-transform:     rotateX(-60deg) rotateY(19.5deg) translateX(-58px) translateY(-100px) translateZ(163px);
    transform:         rotateX(-60deg) rotateY(19.5deg) translateX(-58px) translateY(-100px) translateZ(163px);
}
