---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "base"
;

// INTRO FOUT
.wf-loading #Intro {
visibility: hidden;
}
.wf-active #Intro {
visibility: visible;
}

.main{
  overflow-x:hidden;
}
.text-relief{
  text-shadow:2px 2px 4px $mint;
}

// SHAPES
#circle {
  height: 10rem;
  width: 10rem;
  left: -6rem;
  top: -5rem;
}

#square {
  height: 8rem;
  width: 8rem;
  right: -5rem;
  bottom: -2rem;
}

// TETRAHEDRON

#pyramid-wrap{
  transform:scale(.3);
  margin-bottom:-3em;
  @include breakpoint(l) {
    transform:scale(.5);
    margin-bottom:0;
  };
}

#pyramid {
    position: relative;
    margin: 1em auto;
    height: (em(200));
    width: 14em;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: spin 12s ease infinite;
    -webkit-transform-origin: 116px 200px 116px;
    -moz-transform-style: preserve-3d;
    -moz-animation: spin 12s ease infinite;
    -moz-transform-origin: 116px 200px 116px;
    -ms-transform-style: preserve-3d;
    -ms-animation: spin 12s ease infinite;
    -ms-transform-origin: 116px 200px 116px;
    transform-style: preserve-3d;
    animation: spin 12s ease infinite;
    transform-origin: 116px 200px 116px;
}

@-webkit-keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
  }
  20% {
    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
  }
  25% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
  }
  45% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
  }
  70% {
    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
  }
  75% {
    transform: rotateX(90deg) rotateY(360deg) rotateZ(-90deg);
  }
  95% {
    transform: rotateX(90deg) rotateY(360deg) rotateZ(-90deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(420deg) rotateZ(-90deg);
  }
}

@-moz-keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
  }
  20% {
    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
  }
  25% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
  }
  45% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
  }
  70% {
    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
  }
  75% {
    transform: rotateX(90deg) rotateY(360deg) rotateZ(-90deg);
  }
  95% {
    transform: rotateX(90deg) rotateY(360deg) rotateZ(-90deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(420deg) rotateZ(-90deg);
  }
}

@-ms-keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
  }
  20% {
    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
  }
  25% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
  }
  45% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
  }
  70% {
    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
  }
  75% {
    transform: rotateX(90deg) rotateY(360deg) rotateZ(-90deg);
  }
  95% {
    transform: rotateX(90deg) rotateY(360deg) rotateZ(-90deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(420deg) rotateZ(-90deg);
  }
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
  }
  20% {
    transform: rotateX(0deg) rotateY(60deg) rotateZ(-90deg);
  }
  25% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
  }
  45% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
  }
  70% {
    transform: rotateX(0deg) rotateY(300deg) rotateZ(-90deg);
  }
  75% {
    transform: rotateX(90deg) rotateY(360deg) rotateZ(-90deg);
  }
  95% {
    transform: rotateX(90deg) rotateY(360deg) rotateZ(-90deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(420deg) rotateZ(-90deg);
  }
}


#pyramid > div {
    position: absolute;
    border-style: solid;
    border-width: 200px 0 200px 346px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
    -ms-transform-origin:     0 0;
    transform-origin:         0 0;
}

/* Put some text on each face */
#pyramid > div:after {
    //position: absolute;
    //content: "Triangle";
    //color: #fff;
    //left: -250px;
    //text-align: center;
}

#pyramid > div:first-child  {
    border-color: transparent transparent transparent $gold;
    -webkit-transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
    -moz-transform:    rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
    -ms-transform:     rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
    transform:         rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
}

#pyramid > div:nth-child(2) {
    border-color: transparent transparent transparent $dark;
    -webkit-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
    -moz-transform:    rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
    -ms-transform:     rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
    transform:         rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
}

#pyramid > div:nth-child(3) {
    border-color: transparent transparent transparent $mint;
    -webkit-transform: rotateX(60deg) rotateY(19.5deg);
    -moz-transform:    rotateX(60deg) rotateY(19.5deg);
    -ms-transform:     rotateX(60deg) rotateY(19.5deg);
    transform:         rotateX(60deg) rotateY(19.5deg);
}

#pyramid > div:nth-child(4) {
    border-color: transparent transparent transparent $blue;
    -webkit-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
    -moz-transform:    rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
    -ms-transform:     rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
    transform:         rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
}
