/* ====================== Links */

a{
	color: $black;
	&:hover{
		color: $brand-color-primary;
	}
}
p, blockquote, figure {
	a {
		@include tenth-sec-trans;	   
	    text-decoration: none;
		box-shadow: 0 2px 0 0 $black;
		outline:none;
		cursor:pointer;
	    &:visited {
			color:$grey;
			&:hover{
				color: $brand-color-primary;
			}
	    }
	    &:hover {	
	        color: $brand-color-primary;
			box-shadow: 0 2px 0 0 $brand-color-primary;
	    }
		&:active{
			//background-color:$b10;
		}
	}
}


/* ====================== Navs */
nav {
	margin:$spacing-unit 0;	
	ul{
	    margin:0;
	    padding:0;	
		li{
			list-style-type:none;
		}
	}
	a{
		text-decoration:none;
		//box-shadow:0 0 0 0 transparent;
		//box-shadow:none;
		&:hover{
			//box-shadow:0 0 0 0 transparent;
			//box-shadow:none;
		}
	}
}


/* ====================== Buttons */

button{
	
	background-color:$white;
	border:0;
	padding:$spacing-unit /2;
	color:$grey;
	font-family:$sans;
	letter-spacing:.1em;
	font-weight:600;
	cursor:pointer;
	outline:none;
}


/* ====================== Forms & Inputs */
form{
	font-family:$sans-font-family;
	font-size:$base-font-size;
}
input{
	font-family:$sans-font-family;
	font-size:1em;
	outline:none;
	border:none;
	color:$grey-dark;
}
input[type=text]{
	
}
input[type=search]{
	
}
input[type=submit]{
	background-color:$brand-color-primary;
	color:$white;
	cursor:pointer;
	letter-spacing:.1em;
	&:hover{
		box-shadow:0 2px 2px 0 $b20;
	}
	&:active{
		background-color:$black;
	}
}
label {
    float: left;
    text-align: right;
    margin-right: 1em;
    width:(em(100));
}


/* ====================== Figures & Captions */

figure {
	@extend %clearfix;
	display:block;
	background-color:$white;
	padding:0;
	width:100%;
	max-width:100%;
	img{
		display: block;
		margin:0 auto;
		width:100%;
		max-width:(em(1000));
	}
	figcaption{
		font-size: $small-font-size;
		font-family:courier,georgia,serif;
		display:block;
		padding:.5em;
		p{
			margin:0;
			padding:0;
		}
	}
	@media screen and (min-width:$tablet){
		img{
			float:left;
			width:80%;
		}
		figcaption{
			float:left;
			width:20%;
		}
		
	}
}


/* ====================== Images & Videos */
img {
	display:block;
    width: 100%;
	max-width:em(1200);
	margin:0 auto;
    vertical-align: middle;
	&.half{
		width:50%;
		float:left;
	}
}
img+h1, img+h2, img+h3{
	margin-top:1em;
}
img+p, p+img{
	margin-top:2em;
}




