/* =========================================   CLEARS */
header, footer, section, div, aside{
	@extend %clearfix;
}

/* =========================================   HEADER & FOOTER */
.logo,.wordmark,.toggle{
	position:fixed;
	top:0;
	padding:$spacing-unit/2;
}
h1{
		line-height:1;
	}
div.logo{
	left:0;
	width:1.5em;
	z-index:3
}
div.wordmark{
	left:4em;
	z-index:1;
}
div.toggle{
	right:0;
	z-index:3;
	width:2em;
	height:2em;
	color:$white;
	margin:$spacing-unit;
	background-color:$black;
	@include circle;
}

svg.icon-triangle{
	width:1em;
	height:1em;
}
svg.icon-arrow{
	width:1em;
	height:1em;
}


footer#product-info-display{
	position:fixed;
	bottom:$spacing-unit/2;
	left:$spacing-unit/2;
	right:$spacing-unit/2;
	padding:$spacing-unit/2;
	background-color:$white;
	z-index:3;
	.product-details{
		float:left;
		h2,p{
			margin-bottom:0;
		}

	}
	.buy-now{
		float:right;
		//width:100px;
		
		line-height:1;
	}
	.product-link-button{
		display:block;
		color:$white;
		background-color:$black;
		width:4em;
		height:4em;
		line-height:4em;
		text-align:center;
		text-transform: uppercase;
	}
}


/* =========================================   PRODUCT LIST */
ul#products{
	margin:0;
	padding:100px 0 0 0;
	z-index:2;
	position:relative;
	list-style:none;
}
li.product{
	margin:0;
	padding:0;
	height:100vh;
	div.product-image{
		height:100%;
		width:100%;
		//background:linear-gradient (0, blue, red);
		@include full-bleed-background;
	}		
}
div.product-meta{
	display:none;
}

