/* =========================================   CLEARS */
header, footer, section, div, aside{
	@extend %clearfix;
}

/* =========================================   HEADER  */
.logo,.wordmark,.toggle{
	position:fixed;
	top:0;
	
}
h1{
		line-height:1;
	}
div.logo{
	left:0;
	width:1.5em;
	z-index:3;
	padding:$space/2;
}
div.wordmark{
	left:4em;
	z-index:1;
	padding:$space/2;
}
div.toggle{
	right:0;
	z-index:3;
	width:$space*2;
	height:$space*2;
	line-height:$line-height*2;
	color:$white;
	margin:$space/2;
	background-color:$black;
	text-align:center;
	@include circle;
	span{
		font-size:$small-font-size;
		text-transform: uppercase;
		font-weight: 600;
	}
}

svg.icon-triangle{
	width:1em;
	height:1em;
}

/* =========================================   PRODUCT INFO BAR */
footer#product-info-display{
	position:fixed;
	bottom:$space/2;
	left:$space/2;
	right:$space/2;
	padding:$space/2;
	background-color:$white;
	z-index:3;
	.product-details{
		float:left;
	}
	.buy-now{
		float:right;
		line-height:1;
		background-color:$black;
		width:$space*2;
		height:$space*2;
		line-height:$line-height*2;
	}
	.product-link-button{
		display:block;
		color:$white;
		width:100%;
		height:100%;		
		text-align:center;
		text-transform: uppercase;
		letter-spacing: .1em;
		font-weight:700;
		font-size: $small-font-size;
	}
}


/* =========================================   PRODUCT LIST */
ul#products{
	margin:0;
	padding:$space*3 0 0 0;
	z-index:2;
	position:relative;
	list-style:none;
}
li.product{
	margin:0;
	padding:0;
	height:100vh;
	div.product-image{
		height:100%;
		width:100%;
		//background:linear-gradient (0, blue, red);
		@include full-bleed-background;
	}		
}
div.product-meta{
	display:none;
}

