
/* ========================================== Body Text */

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: normal;
    color: $text-color-default;
	color: $text-color-primary;
    background-color: $site-background-color;
    
	/* Better Font Rendering =========== */
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	// Baseline Grid Visible
	//background-image: linear-gradient(to bottom,#0ff 0,rgba(255,255,255,0)1px);
	//background-repeat: repeat-y;
	//background-size: 100% 1.5rem;
}


/* ========================================== Vertical Rhythm */
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
	margin-top:0;
    margin-bottom: $spacing-unit;
	@media screen and (min-width:$tablet){
		margin-bottom:$spacing-unit-scaled;
	}
}

/* ========================================== Headings */


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
	margin-top:0;
}

h1{
	font-size:4em;
}
h2, .product-store-display{
	font-size:2em;
	text-transform:uppercase;
}
.product-store-display{
	font-size:1.25em;
	font-weight:700;
	letter-spacing:.1em;
}


